<div>
  <!-- Se podría diseñar el HTML con:
      https://bestonlinehtmleditor.com/
  -->
  <h1>Administración de artículos</h1>
  <!-- En el "else" de la directiva *ngIf se pone una palabra para usar en el ng-template 
  En nuestro caso no se muestra la tabla en al caso del else
  sino el mensaje "No hay artículos" que hemos puesto en el ng-template asociado-->
    <table border="1" *ngIf="hayRegistros() else sinarticulos">
      <tr>
        <td>Codigo</td><td>Descripcion</td><td>Precio</td><td>Borrar</td><td>Seleccionar</td>
      </tr>
      <tr *ngFor="let art of articulos">
        <td>{{art.codigo}}</td>
        <td>{{art.descripcion}}</td>
        <td>{{art.precio}}</td>
        <!-- Los eventos son de javascript 
          https://developer.mozilla.org/en-US/docs/Web/Events
          Por ejemplo el click:
          https://developer.mozilla.org/en-US/docs/Web/API/Element/click_event

        -->
        <td><button (click)="borrar(art)">Borrar?</button></td>
        <td><button (click)="seleccionar(art)">Seleccionar</button></td>        
      </tr>
    </table>
    <ng-template #sinarticulos><p>No hay artículos.</p></ng-template>
    <div>
      <!--
        one-way binding (vinculación página campo en componet) to ngModel with [] syntax,
        changing the domain model's value in the component class sets the value in the view. 
        two-way binding (cambio en cualquiera de los sitos y repercute en el otro) with [()] syntax 
      --> 
      <p>
        Codigo:<input type="number" [(ngModel)]="art.codigo" />
      </p>
      <p>
        descripcion:<input type="text" [(ngModel)]="art.descripcion" />
      </p>
      <p>
        precio:<input type="number" [(ngModel)]="art.precio" />
      </p>            
      <p><button (click)="agregar()">Agregar</button>
      <button (click)="modificar()">Modificar</button></p>
    </div>
</div>